body {
  background: #fafafa;
}

/* hamburgur styles starts here */
/* =============== */
.menu {
  width: 200px;
  position: absolute;
  display: none;
  z-index: 100;
  top: 0px;
  right: 0px;
  padding: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px
}

#wrong {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  text-align: right;
  cursor: pointer;
  padding-left: 98%;
  color: red;

}

.listCategory a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
  border-bottom: 2px solid white;
}

.listCategory {
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
  padding: 8px;
  display: block;
  border-bottom: 2px solid white;
}

.listCategory a:hover {
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(220, 195, 7, 0.879);



}

.listCategory a:hover {
  color: aliceblue;
}

/* hamburger end here */

/* hero section starts here  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 55px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;


}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav span {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav i {
  color: #fff;
  font-size: 1.2rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: url(./images/hero-bg.jpg) center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  text-align: center;
  padding: 20px;
  /* animation: fadeInUp 2s; */
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 30%;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  padding: 0 10px;
}

.search-input::placeholder {
  color: #000;
}

.search-icon {
  height: 45px;
  width: 45px;
  background-color: orange;
  color: #fafafa;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon i {
  font-size: 1rem;
  color: #ffffff;
}

.hero-text {
  color: #fff;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

/* hero section ends here */
/* -------------------------------------------------------------------------------------------- */

/* aninimation starts here */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.Cat {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.Cat h1 {
  display: flex;
  align-items: center;
  /* padding-left:4rem; */
}

#home-cards {
  width: 85%;
  /* padding:8% 8%; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;

  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  max-width: 1600px;
  /* 5 cards × (width + gap) fits neatly */
  margin-left: auto;
  margin-right: auto;
  /* 👈 centers the block */
}

.home-card {
  padding: 0.5rem;
  /* width:300px; */
  /* height: 250px; */
  box-shadow: 5px 5px 15px rgb(145, 136, 136);
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  /* border-radius: 20px; */
  border: 1px solid rgb(179, 175, 175);
  animation: fadeInUp 0.6s ease forwards;

  /* let grid control sizing */
}

.home-name {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 5px;
  background-color: orange;
  color: #000;
  font-weight: bold;
  /* margin: 10px; */
  width: 45%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;

}

.home-img {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* padding:0.5rem; */
}

/* above we have home.html cards they are category cards */
/* belove we have category.html cards style */
#category-details {
  margin: 20px;
  /* margin-bottom: 50px; */
  width: 85%;
  margin-left: auto;
  margin-right: auto;


}

.category-info {
  border: 2px solid orange;
  padding: 10px;

}

.category-info h2 {
  color: orange;
  font-size: xx-large;

}

.category-info p {
  text-align: justify;
  display: flex;
  align-items: center;
  margin-top: 5px;
  line-height: 1.3;
  /* font-weight: bold; */
}

#category-meals {
  width: 85%;
  /* padding:8% 8%; */
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  max-width: 1600px;
  /* 5 cards × (width + gap) fits neatly */
  margin-left: auto;
  margin-right: auto;
}

.meals-title {
  margin-top: 20px;
  /* padding-left: 15px; */
}

.category-card {

  padding: 0.5rem;
  /* width:300px; */
  /* height: 250px; */
  box-shadow: 5px 5px 15px rgb(145, 136, 136);
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  /* border-radius: 20px; */
  border: 1px solid rgb(179, 175, 175);
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;


}

.category-card img {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;


}

.category-card span {
  /* position: absolute;
  top: 8px;
  right: 8px; */
  padding: 8px 5px;
  background-color: rgb(255, 255, 254);
  color: #000;
  font-weight: bold;
  /* margin: 10px; */
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-radius: 5px;


}

.category-card a {
  text-decoration: none;
  color: #000;
}




.li-a-link {
  text-decoration: none;
  color: black;
  list-style: none;
  padding: 8px;
}

.list-items {
  list-style: none;
  padding: 8px;
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid black; */
  margin: 5px 0;
}

.list-items:hover {
  background-color: orange;
}

/* hello */




/* meal page styles here */
.instruction-list li {
  margin-bottom: 8px;
  line-height: 1.5;
  position: relative;
  padding-left: 25px;
}

.meal-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap:10px; */
  /* border: 3px solid; */
  padding: 20px;
  max-width: 100%;
  gap: 40px;
  margin: 20px;
  /* background-color: bisque; */

}

.meal-image-sec {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;

}

.meal-image-sec img {
  width: 90%;
  height: 90%;
  object-position: center;
  object-fit: cover;

}

.meal-section {
  /* border: 1px solid orangered; */
 

}
.path-parent{
  display: flex;
  justify-content: center;
}

.meal-header {
  width: 100%;
}

.meal-header h1 {
  color: orange;
  font-size: 2.6rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  padding-bottom: 5px;
}
.meal-header>.tags{
  font-size: x-large;
  padding-bottom: 5px;
  text-transform: capitalize;
  font-weight: bold;


}
.meal-header span{
  font-weight: 400;
  font-size: medium;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
  border: 1px solid orange;
}
.meal-category-p {
  padding-top: 5px;
  font-size: xx-large;
  padding-bottom: 5px;
}

.scource-link {
  font-weight: bold;
  font-size: xx-large;
}

.scource-link a {
  text-decoration: none;
  font-size: xx-large;
  color: red;
}



.instruction-list li::before {
  content: "✔";
  color: tomato;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.Ingredients {
  background-color: rgb(241, 144, 47);
  padding: 10px;
  margin-top: 10px;
  color: aliceblue;
  font-size: xx-large;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Ingredients ol {
  /* list-style: none; */
  padding-left: 0;
  padding: 15px;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.Ingredients ul{
  display: grid;
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  list-style: none;

}
.Ingredients li {
  color: aliceblue;
  text-align: justify;
  padding: 5px;
  margin: 0;
  flex: 1 1 200px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Ingredients li:hover {
  color: aliceblue;
}
.measurements{
  padding: 20px;
  margin: 40px;
  height: auto;
  border: 2px solid #ffffff;
 
  /* position: relative; */
}
.measurement-list{
  list-style: none;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  /* flex-wrap: wrap; */
  gap:1rem;

}
.measurements h2{
  /* font-family: 'Courier New', Courier, monospace; */
  
    font-weight: bold;
  
}
.measurements ul{
  padding: 10px;
    font-size: large;
  text-align: justify;
  /* position: relative; */
}
.measurements li{
  padding: 5px;
  /* position: relative; */
}
.measurements li::before{
  content:"✔";
  color: tomato;
  /* position: absolute; */
  top: 0;
  /* left: -5px; */
  font-weight: bold;
  padding-right: 5px;
}

.instructions {
  padding: 20px;
  margin: 40px;
}

.instruction-list {
  text-decoration: none;
}

.instruction-list li {
  text-decoration: none;
  list-style: none;
}

.instructions h2 {
  padding-bottom: 20px;
  font-size: xx-large;

}

.instructions ul {
  font-size: large;
  text-align: justify;
}

.path {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  background-color: orange;
  color: #fafafa;
  font-weight: bold;
  margin-top: 20px;
  width: 90%;
}

.path a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
